.body,html{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;

}

* {
  box-sizing: border-box;
}



.cybr-btn {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  font-family: 'Cyber', sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  font-size: 1.5rem;
  transition: background 0.2s;
  
}

.cybr-btn:hover {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.cybr-btn:after,
.cybr-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}
@font-face {
  font-family: solthin;
  src: url(https://gist.githubusercontent.com/devrajshetake/655a653a868cc75823f3d43d59915c36/raw/a34f1ac7df74ae7b62ac1a1720649596549a9036/solthinregular.ttf);
  }
.clash-text{
  font-family: "SolThin",sans-serif !important;
  font-weight: 500!important;
}
.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content:flex-end !important;
}
.pisblogo{
float: right; 
margin-left: auto; 
overflow: hidden;
}
/*.btn:hover {
  opacity:0.8
}*/

::placeholder{
  color:#081623;
  opacity: 1;
}
::-ms-input-placeholder{
  color:#081623;
}
:-ms-input-placeholder{
  color:#081623;
}
.login-box{
border-radius: 3%;
  /* height: auto;
  width:auto;  */
  width: 350px;
  justify-self: flex-end;
  backdrop-filter: blur(10px);
  box-shadow: 5px 7px 10px #92e6ff;
  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
backdrop-filter: blur(5px); /* Chrome and Opera */
box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
background-color: #0c2f42; 
}
.login-box:before{
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 3%;
}
.login-box:hover::before{
  animation: animate 0.2s linear forwards;
}
@media(max-width:768px){
.credenz-logo,.clash-text{
  display: none;
}
.login-box{
  justify-self: center;

}
.right-col{
  width: 100%;
}
}
@keyframes animate {
  0%{
      width: 0;
      height: 0;
      border-top-color: #92e6ff;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-radius: 3%;
  }
  50%{
      width: 100%;
      height: 0;
      border-top-color: #92e6ff;
      border-right-color: #92e6ff;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-radius: 3%;
  }
  100%{
      width: 100%;
      height: 100%;
      border-top-color: #92e6ff;
      border-right-color: #92e6ff;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-radius: 3%;
  }
}
.login-box:after{
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 3%;
}
.login-box:hover::after{
  animation: animate2 0.2s linear forwards;
}
footer {
  color: #fff;
  text-align: center;
  padding: 0.4rem 0;
  display: flex!important;
  flex-direction: row;
  /* border-top: solid 1px white; */
  justify-content: space-evenly!important;
  justify-content: space-between;
  background-color: #010718;
}
footer .leftieee,
footer .middleieee {
  padding-top: 5px;
}
footer .social-links {
  display: flex;
  /* float: right; */
  justify-content: center;
  font-size: 18px;
  margin-top: .1rem;
}
.social-links a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 1.5rem;
  transition: all 0.5s ease;
  text-decoration: none!important;
}


footer span {
  font-size: 16px;
}
footer span a {
  color: white;
  border: 1px white solid;
  padding: 5px;
  border-radius: 3px;
}
footer span a:hover {
  background-color: white;
  color: black;
}

.social-links a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -8px);
}
@keyframes animate2 {
  0%{
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #92e6ff;
      border-radius: 3%;
  }
  50%{
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #92e6ff;
      border-left-color: #92e6ff;
      border-radius: 3%;
  }
  100%{
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #92e6ff;
      border-left-color: #92e6ff;
      border-radius: 3%;
  }
}

@media screen and (max-width: 1280px) {
  .login-box{
     
  }    
}
@media screen and (min-width: 1280px) {

.editor-field__textbox{
  margin-left: auto!important;
  margin-right: auto!important;
}  
}
.container {
width: 300px;
margin: auto;
display: flex;
flex-direction: column;
align-items: flex-end;
margin-top: 70px;
}

.editor-field {
width: 90%;
height: 64px;
position: relative;
margin: 14px 0;
}
.editor-field .noise__el {
fill: #92e6ff;
}
.editor-field__noise {
position: absolute;
bottom: 0;
left: 5%;
width: 100%;
height: calc(100%);
z-index: 2;
pointer-events: none;
}
.editor-field__container {
clip-path: polygon(0% 0%, calc(100% - 8px) 0, 100% 8px, 100% 100%, 95% 100%, calc(0% + 8px) 100%, 0% calc(100% - 8px), 0% calc(100% + 8px));
border: 2px solid #92e6ff;
width: 90%;
margin-left: auto;
margin-right: auto;
height: 48px;
position: absolute;
bottom: 2px;
}
.editor-field__container:before, .editor-field__container:after {
content: "";
height: 2px;
width: 11.5px;
background: #92e6ff;
display: block;
position: absolute;
z-index: 1;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
border-radius: 5px;
}
.editor-field__container:before {
right: -3.1px;
top: 1.6px;
}
.editor-field__container:after {
left: -3.1px;
bottom: 1.6px;
}
.editor-field__bottom {
position: absolute;
content: "";
display: block;
height: 2px;
width: 30%;
background: #92e6ff;
right: 0px;
clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 2px) 100%);
bottom: 0px;
}
.editor-field__label-container {
position: absolute;
top: 0px;
}
.editor-field__label-container:after {
position: absolute;
content: "";
display: block;
height: 2px;
width: 32px;
background: #92e6ff;
right: -29px;
-webkit-clip-path: polygon(0 0, calc(100% - 2px) 0%, 100% 100%, 22% 100%);
clip-path: polygon(0 0, calc(100% - 2px) 0%, 100% 100%, 0% 100%);
bottom: 2px;
}
.editor-field__label {
position: relative;
display: block;
height: 16px;
width: auto;
background: #92e6ff;
left: 0px;
color: #0F1020;
font-size: 9px;
text-transform: uppercase;
letter-spacing: 1.25px;
font-weight: 600;
padding: 0 24px 0 16px;
display: flex;
align-items: center;
clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
}
.editor-field__input {
width: 100%;
height: 100%;
border: none;
outline: none;
background: #0F1020;
color: white;
padding: 8px 16px;
letter-spacing: 0.2px;
}
.editor-field__input:focus {
animation: 0.05s infinite alternate blink;
}
@keyframes blink {
from {
  background: #0F1020;
}
to {
  background: #111223;
}
}
.editor-field:hover .editor-field__bottom, .editor-field.is-focused .editor-field__bottom {
background: #92e6ff;
}
.editor-field:hover .editor-field__container, .editor-field.is-focused .editor-field__container {
border-color: #92e6ff;
}
.editor-field:hover .editor-field__container:after, .editor-field:hover .editor-field__container:before, .editor-field.is-focused .editor-field__container:after, .editor-field.is-focused .editor-field__container:before {
background: #92e6ff !important;
}
.editor-field:hover .editor-field__label-container:after, .editor-field.is-focused .editor-field__label-container:after {
background: #92e6ff;
}
.editor-field:hover .editor-field__label,
.editor-field:hover .editor-field__helper, .editor-field.is-focused .editor-field__label,
.editor-field.is-focused .editor-field__helper {
background: #92e6ff;
}

.button {
border: 1px solid white;
border-radius: 5px;
width: 100px;
height: 35px;
display: block;

background: linear-gradient(to right, #92e6ff 50%, #11101d 50%);
background-size: 200% 100%;
background-position: right bottom;
transition: all .3s ease-out;
}

.button:hover {
background-position: left bottom;
}
.text {
text-align: center;
font-size: 16px;
line-height: 35px;
color: #92e6ff;
transition: all .3s ease-out;
display: block;
font-family: sans-serif;
text-decoration: none;
}

.text:hover {
color: #202A44;
font-weight: bold;  
}
label input {
position: absolute;
left: -9999px;
}
label input:checked + span {
background-color: #11101d;
}
label input:checked + span:before {
box-shadow: inset 0 0 0 0.4375em #38d1ff;
}
label span {
display: flex;
align-items: center;
padding: 0.375em 0.75em 0.375em 0.375em;
border-radius: 99em;
transition: 0.25s ease;
}
label span:hover {
background-color: #11101d;
}
label span:before {
display: flex;
flex-shrink: 0;
content: "";
background-color: white;
width: 1.5em;
height: 1.5em;
border-radius: 50%;
margin-right: 0.375em;
transition: 0.25s ease;
box-shadow: inset 0 0 0 0.125em #38d1ff;
}
.clash-text::first-line{
font-size: 1rem!important;
}
.footer {
background: linear-gradient(45deg, #19638b, #011722);
color: #fff;
text-align: center;
padding: 10px;
display: flex;
flex-direction: row;
/* border-top: solid 1px white; */
justify-content: space-evenly;
width: 100%;
position: fixed;
left: 0;
bottom: 0;
flex-shrink: 0;
}
.footer .leftieee,
.footer .middleieee {
padding-top: 5px;
}
.footer .social-links {
display: flex;
/* float: right; */
justify-content: center;
font-size: 18px;
/* margin-bottom: 1.2rem; */
}
.social-links a {
border: 2px solid #fff;
color: #fff;
display: block;
width: 35px;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
text-decoration: none;
margin-right: 1.5rem;
transition: all 0.5s ease;
}

.social-links a:hover {
color: white;
}

.footer span {
font-size: 16px;
}
.footer span a {
color: white;
border: 1px white solid;
padding: 5px;
border-radius: 3px;
}
.footer span a:hover {
background-color: white !important;
color: black !important;
}

.social-links a:hover {
transform: rotate(0deg) skew(0deg) translate(0, -8px);
}