{% extends 'Quiz/layout.html' %}
{% block content %}
<style>
    th,td {
                width:150px;
                text-align:center;
                border:1px solid black;
                padding:5px
              
            }
</style>
<h1>eelo level 2</h1>
<div class="border-top pt-3">
    <small class="text-muted">
       <h2> admin's <a class="ml-2" href="{% url 'logout' %}">logout </a></h2>
    </small>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
       <h2>  <a class="ml-2" href="{% url 'emerglogin' %}"> Emergency login</a></h2>
    </small>
</div>
<h2>  <a class="ml-2" href="{% url 'leaderboard' %}">leaderboard1</a></h2>
<table class="rwd-table">
    <tbody>
        <tr>
            <th>sr no.</th>
            <th>Username</th>
            <th>firstname</th>

            <th>year</th>
            <th>fianl_score</th>
            <th>timer</th>
            <th>  no of questions</th>

            
        </tr>
        
            {% for profil in profile %}
            
            <tr>
                <td data-th="sr no.">
                    <h6>{{ forloop.counter }}</h6>
                </td>
                <td data-th="Supplier username">
                    {{profil.user.username}}
                </td>
                <td data-th="Supplier username">
                    {{profil.user.first_name}}           
                <td data-th="year">
                    {{profil.year}}
                </td>
                <td data-th="fianl_score">
                    {{profil.final_score}}
                </td>
                <td data-th="time">
                    {{profil.time_counter}}sec                                                                                            
                </td>  
                
                <td data-th="time">
                    {{profil.number_of_submits}}                                                                                      
                </td>             
            </tr>
            
            
            {% endfor %}
            
    </tbody>
</table>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
  setInterval(function() {
    cache_clear()
  }, 9000);
});

function cache_clear() {
  window.location.reload(true);
  window.location.reload(); 
}
</script>

{% endblock content %}