<script>
    // if (sessionStorage.counter){
    //     a = 1;
    // }
    // else{
    // sessionStorage.counter = 0;}
    let strcounter = "{{profile.time_counter}}";
    let strtzcounter = "{{profile.time_rz_counter}}";
    let strRZActive = "{{profile.red_zone_active}}";
    
    if(strRZActive == "False"){
      RZactive = false;
    }else{
      RZactive = true;
    }
    let scounter = parseInt(strcounter);
    let tzcounter = parseInt(strtzcounter);
    if (sessionStorage.counter){
        a = 1;
    }
    else{
    sessionStorage.counter = scounter;}
  
    counter = sessionStorage.counter;
  
    // if(sessionStorage.counter)
    var total_time = 28 * 60;
  
    // timer speed
    let speed_str = "{{profile.time_speed}}"
    let timer_speed = parseInt(speed_str)
  
    function formatTime(s) {
      var min = ("0" + Math.floor(s / 60)).slice(-2);
      var sec = ("0" + (s % 60)).slice(-2);
  
      return `${min}:${sec}`;
    }
  
    function startTimer() {
      timer = document.getElementById("timer");
      timer.innerHTML = formatTime(total_time - sessionStorage.counter);
      function secIncrement() {
        sessionStorage.counter++;
      
        timer.innerHTML = formatTime(total_time - sessionStorage.counter);
  
        if (sessionStorage.counter >= total_time) {
          clearInterval(interval);
          document.getElementById("endQuizForm").submit();
        }
      }
  
      var interval = setInterval(secIncrement, timer_speed);
      setInterval(redZoneSaveTimer, timer_speed);
      setInterval(stopRZ, timer_speed);
      setInterval(startRZ, timer_speed);
    }
  
    function redZoneSaveTimer(){
      rz_counter = document.getElementById('time_counter_rz');
      rz_counter.value = sessionStorage.counter;
    }
  
    function startRZ(){
      if(sessionStorage.counter == 3*60 + 17 || sessionStorage.counter == 20*60+27){
        document.getElementById("RZForm").submit();
      }
    }
  
    startTimer();
  
    
  
    // Save and next
    function save_n_next() {
      document.getElementById("counterHidden").value= sessionStorage.counter;
     
      document.getElementById("saveNnext").submit();
    }
  
    function clearSelection() {
      var ele = document.getElementsByName("user_response");
      for (var i = 0; i < ele.length; i++) ele[i].checked = false;
    }
    clearSelection();
    function resetTimer() {
      sessionStorage.clear();
    }
    
    function stopRZ(){
      if (sessionStorage.counter - tzcounter == 3*60 && RZactive){
        document.getElementById('endRZCounter').value = sessionStorage.counter;
        document.getElementById('endRZ').submit();
  
      }
    }
  </script>

<form action="{%  url 'save-timer' %}" method="post" id = "saveTimerAjaxForm">
  {% csrf_token %}
  <input type="hidden" name="timer" id = "saveTimerAjax" value="0">
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% csrf_token %}
<script>

  function saveAjaxTimer(){
  
  document.getElementById("saveTimerAjax").value = sessionStorage.counter;
  var ajax = new XMLHttpRequest();
  var data = document.getElementById("saveTimerAjaxForm");
  var formdata = new FormData(data);
  ajax.open("POST", "{% url 'save-timer' %}", true);
  
  ajax.send(formdata);
}
  setInterval(() => {
    saveAjaxTimer();
  }, 4000); 


  
</script>

{% if profile.red_zone_active %}
  <script>
  
    document.getElementById('rzactivation').innerHTML = "Combat Zone Activated!";
  </script>
{% endif %}

{% if not canUseLifeline %}
  <style>
    /*modal styling*/
.btn1 {
  height: 50px;
  /* background: rgb(234, 238, 9); */
  color: #11101d;
  /* border: 4px solid rgb(234, 238, 9); */
  font-size: 18px;
  /* padding-top: 20px!important; */
  font-weight: bolder;
  letter-spacing: 3px;
  text-align: center;
  display: block;
  position: relative;
  padding: 5px;
  text-decoration: none !important;
  font-family: monospace, "Courier New", Courier;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: gray;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 5px 5px 5px #f8f005;
  border: 2px solid #f8f005;
  color: white;
  padding: 10px;
  cursor: no-drop;
}

.btn1:before {
  content: "";
  position: absolute;
  top: 0;
  /* left: -100%; */
  /* width: 100%; */
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  /* pointer-events: none; */
  cursor: no-drop;
}

.btn1 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  cursor: no-drop;
}

.btn1 span:nth-child(1) {
  /* transform: rotate(0deg); */
  cursor: no-drop;
}

/* .btn1 span:nth-child(2)
{
  transform:rotate(90deg);
} */

.btn1 span:nth-child(3) {
  /* transform: rotate(180deg); */
  cursor: no-drop;
}

/* .btn1 span:nth-child(4)
{
  transform:rotate(270deg);
} */

.btn1 span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f8f005;
  cursor: no-drop;
  /* animation: animate 4s linear infinite; */
}
  </style>
  <script>
    ele1 =document.getElementById('modal-744963').disabled = true;
    ele1.classList.add("nocurr");
  </script>
{% endif %}